body {
  font-family: Arial, sans-serif;
  background-color: #fffafa;
  margin: 0;
  padding: 20px;
}

.container {
  max-width: 600px;
  margin: 5px auto;
  background-color: #a7c7e7;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);  
}

h1,
h2,
.criadora {
  color: #2a3f5f;
  text-align: center;
}

.input-1 {
  display: flex;
  align-items: center;
}

.input-1 input,
.input-2 textarea {
  flex-grow: 1;
  margin-right: 10px;
}

button {
  width: 100px;
  height: 39px;
  padding: 10px;
  border: none;
  background-color: #0f51b5;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  margin-top: -5px;
}

button:hover {
  background-color: #2a3f5f;
}

input[type="text"] {
  width: 95%;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid #a7c7e7;
}

input[type="checkbox"] {
  margin-right: 5px;
}

#nova-tarefa {
  width: 95%;
  padding: 10px;
  border: 2px solid #2a3f5f;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5px;
}

#data-tarefa {
  width: 100px;
  height: 17px;
  padding: 10px;
  border: none;
  background-color: white;
  color: #0f51b5;
  border: 2px solid #2a3f5f;
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  margin-top: -5px;
}

.btn-1 {
    margin-right: 8px;
}

.lista-tarefa {
  /* list-style: none; */
  padding: 0;
  margin-bottom: 35px;
}

.lista-tarefa li {
  padding: 5px;
  border-bottom: 2px solid #2a3f5f;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 6px;
}

.lista-tarefa li span {
  flex: 1;
}

#lembrete {
  width: 99%;
  border: 2px solid #2a3f5f;
  border-radius: 4px;
  margin-top: 5px;
  height: 88px;
}

.btn-lembrete {
    width: 130px;
    margin-top: 5px;
}

.criadora span {
  font-weight: bold;
}
